<!DOCTYPE html>
<html>
  <head>
    <title>FirstRailsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Navbar</h1>
      <ul>
        <li><%= link_to "Home",  root_path%></li>
        <li><%= link_to "More about us",  about_path%></li>
        <li><%= link_to "Meet the team",  contact_path%></li>
      </ul>
    <%= yield %>
    <p>Footer - with nothing in it for now</p>
  </body>
</html>
